h1{
    text-align: center;
    color: #0a229b;
    font-size: 24px; 
    font-family: Arial, sans-serif; 
}
.tab-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
 
.form-control {
    max-width: 450px; 
}
.product-image {
    max-width: 50px;
    height: auto;
}