h1{
    text-align: center;
    color: #0a229b;
    font-size: 24px; 
    font-family: Arial, sans-serif; 
}
.fade:not(.show) {
  display: none;
  opacity: 0;
}


.tab-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

 .short-input {
    width: 50%; 
  }
  .short-btn {
    width: 30%; 
  }
  #editForm {
    display: none;
  }
.iframe-container {
    display: none;
  }
  
 
.custom-control {
    max-width: 450px; 
}
.product-image {
    max-width: 50px;
    height: auto;
}
#pie-chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}
.custom-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}
.center {
  width: 105px;
  margin: 0 auto;
  margin-top: 50px;
}