
.c-img
{
    height:300px; 
    width: 300px; 
    object-fit: fill; 
    margin: auto;
}
.c-slide
{
    padding-top:20px;
    padding-bottom:20px;
}
.footer{
    position: sticky bottom;
}

h5
{
    color:white;
    -webkit-text-stroke: 2px black; 
    font-size: x-large;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
   .cards-row
   {
    background-color: cadetblue;
    margin-left: 0.39px;
   }
   .carousel-row
   {
    background-color: skyblue;
    border-bottom: 1px solid black;
    
   }
  
  
    .spacer
    {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: cadetblue;
       
        box-sizing: border-box;
    }
    .mainpage
    {
        max-width: 99.39%;
    }
   .col
   {
    justify-content: start;    
    display: flex;
    justify-content: space-between;
   }
   .justify-content-center{
    justify-content: start!important;
   }
      
   
    