body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .cart {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width:80%;
  }
  
  h1 {
    text-align: center;
  }
  
  .cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .product-name {
    font-weight: bold;
  }
  
  .product-price {
    color: #888888;
  }
  
  .product-image {
    max-width: 50px;
    max-height: 50px;
    margin-right: 10px;
  }
  .remove-button {
    background-color: #ff3333;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .purchase-button,
  .back-button {
    background-color: #337ab7;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
  }
  #itembar
  {
  
    border-bottom: 1px solid #cccccc;
  }
