
.c
{
    margin-left:15px;
    margin-right:15px;
}


.search-bar {
    transition: ease-in-out 1s;
   width: 200px;
}

.search-bar:hover {
    width: 50%;
}

.underline
{
    border-bottom: solid 1px;
}