
.c
{
    margin-left:15px;
    margin-right:15px;
}

.ui-autocomplete {
   
    z-index: 9998;
  }
.search-bar {
    transition: ease-in-out 1s;
    width: 200px;
 
}

.c:hover .search-bar{
    width: 50%;
}


.underline
{
    border-bottom: solid 1px;
}

@media (min-width: 576px) {
    /* Modify the existing CSS rule within the media query */
    #navbar .offcanvas 
    {
      visibility: hidden !important;
      display: none !important;
    }
  }
  .offcanvas {
    z-index: 9999; /* Adjust this value as needed */
  }

  